<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <p>Получена новая заявка на бронирование</p>
    <p>
      Детали бронирования<br>
      --------------------------
    </p>
    <p><%= @book_order.hotel_room.name %></p>
    <br>
    <p>Дата заезда: <%= @book_order.arrival_date %>. Время:
      <%= @book_order.time_in %></p>
    <p>Дата выезда: <%= @book_order.departure_date %></p>
    <br>
    <p>Количество гостей с местом: <%= @book_order.guests_with_place %></p>
    <p>Количество гостей без места: <%= @book_order.guests_without_place %></p>
    <br>
    <p>Электронный адрес: <%= @book_order.email %></p>
    <p>Телефон: <%= @book_order.phone %></p>
  </body>
</html>